:host {
    padding: 5px 2px 5px 5px;
    height: 15px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

:host:hover {
    background-color: var(--theme-main-bg);
    color: var(--theme-main-text-hover);
    cursor: pointer;
}