:host {
    background-color: var(--theme-sidebar-bg);
    color: var(--theme-main-text);
    overflow-y: scroll;
    float: left;
}

:host ::ng-deep {
    user-select: none;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}