:host {
    left: 0;
    max-height: 94vh;
    height: 94vh;
    background-color: var(--theme-sidebar-bg);
    color: var(--theme-main-text);
    overflow-y: scroll;
    float: left;
}

:host ::ng-deep {
    user-select: none;
}


.container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}