<div class="tab-container thin-scroll" #tabContainer>
    <ng-container *ngFor="let tab of tabs"
        [ngTemplateOutlet]="tabTemplate"
        [ngTemplateOutletContext]="{fileNode: tab}">
    </ng-container>
</div>
<textarea id="editor" [(ngModel)]="content" wrap="off" spellcheck="false" (input)="checkChange()"></textarea>


<ng-template #tabTemplate let-fileNode="fileNode">
    <div class="tab" [ngClass]="this.tabElements[fileNode.path].edited" [title]="getTabTitle(fileNode.path)" [id]="fileNode.path" (click)="setFocus(fileNode)" (dblclick)="removeTab(fileNode)">
        <span>{{fileNode.name}}</span>
        <!-- <div class="tab-tooltip"><span>{{fileNode.path}}</span></div> -->
    </div>
</ng-template>