:host {
    margin: 0;
    max-height: 3vh;
    height: 3vh;
    min-height: 20px;
    background-color: var(--theme-main-bg);
    display: block;
    width: 100%;
    z-index: 100;
    border-top: 1px solid var(--theme-border);
}