<div class="container">
    <span (click)="togglePicker()" [style.color]="value"><ng-content></ng-content></span>
    <div class="parent-container" [style.display]="pickerToggled" #parent>
        <div class="canvas-container" (click)="setPickerColor($event, true)" (mousemove)="setPickerColor($event)" (mouseleave)="setPickerColor($event); mouseup()" (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseenter)="mousedown($event)">
            <canvas width="400px" height="400px" #picker></canvas>
        </div>
        <div style="margin-top: 70px;"></div>
        <div class="canvas-container" (click)="setSliderColor($event, true)" (mousemove)="setSliderColor($event)" (mouseleave)="setSliderColor($event); mouseup()" (mousedown)="mousedown()" (mouseup)="setSliderColor($event); mouseup()" (mouseenter)="mousedown($event)">
            <canvas width="255px" height="25px" #slider></canvas>
        </div>
    </div>
</div>