.container {
    overflow: hidden;
}
.parent-container {
    position: fixed;
    background-color: #3d3d3d;
    border: 1px solid #252525;
}
#picker {
    display: block;
    position: absolute;
    padding: 8px;
    border: 1px solid #fefefe;
}
.canvas-container {
    padding: 5px;
    border-bottom: 1px solid #252525;
}