<div class="container">
    <ul class="menu">
        <li class="item" id="title">
            Motify
        </li>
        <li class="item">
            File
        </li>
        <li class="item">
            Edit
        </li>
        <li class="item">
            Selection
        </li>
    </ul>
    <div class="menu">
        <div class="item controls" (click)="minimize()">
            -
        </div>
        <div class="item controls" (click)="maximize()">
            +
        </div>
        <div class="item controls" id="quit" (click)="quit()">
            x
        </div>
    </div>
</div>

