<div class="container">
    <ul class="menu">
        <li class="item" id="title">
            Motify
        </li>
        <li class="item">
            File
        </li>
        <li class="item">
            Edit
        </li>
        <li class="item">
            Selection
        </li>
    </ul>
    <div class="menu">
        <div class="item controls">
            -
        </div>
        <div class="item controls">
            +
        </div>
        <div class="item controls">
            x
        </div>
    </div>
</div>

