:host .parent {
    padding: 5px 2px 5px 5px;
    height: 15px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

:host .parent:hover {
    background-color: #4a5766;
}