/* You can add global styles to this file, and also import other style files */
body {
    background-color: #eee;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

:root {
    --theme-main-bg: #4a5766;
    --theme-scrollbar-bg: #6c7e94;
    --theme-scrollbar-thumb: #57677a;
    --theme-scrollbar-thumb-hover: #4a5766;
    --theme-sidebar-bg: #3B434C;
    --theme-main-text: #84BCAF;
    --theme-main-text-hover: #84BCAF;
}

